## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Import GMaps in its own cell to avoid problems.
import gmaps

In [2]:
# Import Google API key in its own cell to avoid problems.
from config import g_key

In [3]:
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# Dependencies and Setup
import pandas as pd
import requests

In [6]:
# CHALLENGE DELIVERABLE II - PART 5
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sorland,NO,67.6670,12.6934,43.50,82,100,4.90,overcast clouds
1,1,Laguna,US,38.4210,-121.4238,64.08,57,100,18.41,overcast clouds
2,2,Yellowknife,CA,62.4560,-114.3525,17.58,93,10,4.81,clear sky
3,3,Pringsewu,ID,-5.3582,104.9744,80.28,80,100,0.63,overcast clouds
4,4,Vestmannaeyjar,IS,63.4427,-20.2734,46.51,89,100,7.85,overcast clouds

In [8]:
# CHALLENGE DELIVERABLE II - PART 6
# 2. Prompt the user to enter minimum and maximum temperature criteria.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 70

In [9]:
# CHALLENGE DELIVERABLE II - PART 7
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Laguna,US,38.4210,-121.4238,64.08,57,100,18.41,overcast clouds
5,5,Hwange,ZW,-18.3693,26.5019,60.01,93,98,4.05,moderate rain
8,8,Castro,BR,-24.7911,-50.0119,54.73,87,0,3.53,clear sky
12,12,Kruisfontein,ZA,-34.0033,24.7314,69.58,32,100,8.68,overcast clouds
17,17,Busselton,AU,-33.6500,115.3333,68.59,50,1,12.26,clear sky
22,22,Ponta Do Sol,PT,32.6667,-17.1000,62.01,60,9,4.14,clear sky
23,23,Hobart,AU,-42.8794,147.3294,58.01,54,75,10.36,broken clouds
25,25,San Jose,US,37.3394,-121.8950,63.00,58,75,16.11,broken clouds
29,29,Bredasdorp,ZA,-34.5322,20.0403,60.51,84,75,3.33,broken clouds
31,31,Katsuura,JP,35.1333,140.3000,64.04,70,100,5.01,overcast clouds

In [13]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                7
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [14]:
# CHALLENGE DELIVERABLE II - PART 8
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Laguna,US,38.4210,-121.4238,64.08,57,100,18.41,overcast clouds
5,5,Hwange,ZW,-18.3693,26.5019,60.01,93,98,4.05,moderate rain
8,8,Castro,BR,-24.7911,-50.0119,54.73,87,0,3.53,clear sky
12,12,Kruisfontein,ZA,-34.0033,24.7314,69.58,32,100,8.68,overcast clouds
17,17,Busselton,AU,-33.6500,115.3333,68.59,50,1,12.26,clear sky
...,...,...,...,...,...,...,...,...,...,...
695,695,Boende,CD,-0.2167,20.8667,69.85,97,100,0.58,overcast clouds
696,696,Newport Beach,US,33.6189,-117.9289,61.34,82,20,8.05,few clouds
700,700,Byumba,RW,-1.5763,30.0675,53.80,91,99,2.21,overcast clouds
701,701,Chlorakas,CY,34.8042,32.4083,50.88,76,40,9.22,scattered clouds
710,710,Ivaipora,BR,-24.2478,-51.6847,59.86,84,0,3.20,clear sky

In [15]:
# CHALLENGE DELIVERABLE II - PART 9
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Laguna,US,64.08,overcast clouds,38.4210,-121.4238,
5,Hwange,ZW,60.01,moderate rain,-18.3693,26.5019,
8,Castro,BR,54.73,clear sky,-24.7911,-50.0119,
12,Kruisfontein,ZA,69.58,overcast clouds,-34.0033,24.7314,
17,Busselton,AU,68.59,clear sky,-33.6500,115.3333,
22,Ponta Do Sol,PT,62.01,clear sky,32.6667,-17.1000,
23,Hobart,AU,58.01,broken clouds,-42.8794,147.3294,
25,San Jose,US,63.00,broken clouds,37.3394,-121.8950,
29,Bredasdorp,ZA,60.51,broken clouds,-34.5322,20.0403,
31,Katsuura,JP,64.04,overcast clouds,35.1333,140.3000,

In [18]:
# CHALLENGE DELIVERABLE II - PARTS 10 & 11
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    # HINT: GIVE IT A FEW SECONDS TO GENERATE.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found....skipping.")
hotel_df.head(10)

Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Laguna,US,64.08,overcast clouds,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
5,Hwange,ZW,60.01,moderate rain,-18.3693,26.5019,Hwange Colliery Guest House
8,Castro,BR,54.73,clear sky,-24.7911,-50.0119,CHACARA BAILLY
12,Kruisfontein,ZA,69.58,overcast clouds,-34.0033,24.7314,Oyster Bay House Rental
17,Busselton,AU,68.59,clear sky,-33.6500,115.3333,Observatory Guest House
22,Ponta Do Sol,PT,62.01,clear sky,32.6667,-17.1000,Hotel do Campo
23,Hobart,AU,58.01,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
25,San Jose,US,63.00,broken clouds,37.3394,-121.8950,The Westin San Jose
29,Bredasdorp,ZA,60.51,broken clouds,-34.5322,20.0403,Bredasdorp Country Manor
31,Katsuura,JP,64.04,overcast clouds,35.1333,140.3000,Katsuura Hotel Mikazuki

In [24]:
# CHALLENGE DELIVERABLE II - PART 12
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Laguna,US,64.08,overcast clouds,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
5,Hwange,ZW,60.01,moderate rain,-18.3693,26.5019,Hwange Colliery Guest House
8,Castro,BR,54.73,clear sky,-24.7911,-50.0119,CHACARA BAILLY
12,Kruisfontein,ZA,69.58,overcast clouds,-34.0033,24.7314,Oyster Bay House Rental
17,Busselton,AU,68.59,clear sky,-33.6500,115.3333,Observatory Guest House
22,Ponta Do Sol,PT,62.01,clear sky,32.6667,-17.1000,Hotel do Campo
23,Hobart,AU,58.01,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
25,San Jose,US,63.00,broken clouds,37.3394,-121.8950,The Westin San Jose
29,Bredasdorp,ZA,60.51,broken clouds,-34.5322,20.0403,Bredasdorp Country Manor
31,Katsuura,JP,64.04,overcast clouds,35.1333,140.3000,Katsuura Hotel Mikazuki

In [26]:
# CHALLENGE DELIVERABLE II - PART 13
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# CHALLENGE DELIVERABLE II - PART 14 & 15 & 16
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [31]:
# CHALLENGE DELIVERABLE II - PART 17
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))